@import '~antd/dist/antd.min.css';

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
  font-family: '微軟正黑體' sans-serif;
  font-size: 1em;
}

#root {
  height: 100%;
  position: relative;
  letter-spacing: 1px;
}
